<app-header></app-header>
<!--<app-banner></app-banner>-->
<!--<app-banner></app-banner>-->
 <router-outlet></router-outlet>
<app-footer></app-footer>
<!--<app-footer></app-footer> -->
<!--<app-jeuxs></app-jeuxs>-->
<!--<app-login></app-login>-->
<!--<app-voiture></app-voiture>-->
<!--<app-paymentt></app-paymentt>-->
<!--<app-livres></app-livres>
<app-teniss></app-teniss>
<app-films></app-films>
<app-smartphones></app-smartphones>
<app-bijouxs></app-bijouxs>
-->
<!--<div class="App">
               <div>
                 <h1>Star Rating</h1>
                 <div class="logo"></div>
               </div>
               <div class="flex-container">
                 <ng-container *ngFor="let star of stars">
                   <app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave()"
                     (bigClick)="updateRating(star)">
                   </app-star>
                 </ng-container>
               </div>
             </div>-->
             
