<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  ADMINISTRATOR
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/pictures/josoa.jpg"
    />

    <h4 class="name">Josoa Mathieu</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/image">
      <mat-icon>home</mat-icon>
      <span>List Product</span>
    </button>
   
   
    <button mat-button class="menu-button" routerLink="/tess">
      <mat-icon>people</mat-icon>
      <span>Account Lists</span>
    </button>
    <button mat-button class="menu-button" routerLink="/ajouter">
      <mat-icon>add</mat-icon>
      <span>Ajout produit</span>
    </button>
    
    <mat-divider></mat-divider>
    
    
   
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
     
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
